<!DOCTYPE html>
<html>
<head>
    <title>Zulrah Helper</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="main.css">
    <!--<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>-->
</head>
<body>
    <div :class="'body ' + theme" id="zulrah-helper" v-cloak>
        <div class="container main-container">
            <h1 class="title has-text-centered">Zulrah Helper </h1>
            <h1 class="subtitle has-text-centered"><span class="is-pointer" @click="toggleSettings()">Settings</span></h1>

            <div v-if="displaySettings == true">
                <div class="box settings-box is-half has-text-centered">
                    <span @click="toggleSettings()" class="is-pointer is-pulled-right"><i class="fas fa-times"></i></span>
                    <h5 class="subtitle is-5">Settings</h5>
                    <div class="columns">
                        <div class="column is-pointer" @click="toggleTheme()">
                            <p class="menu-label">Theme</p>
                            Dark
                            <span v-if='theme == "dark"'>
                                <i class="fas fa-toggle-off"></i>
                            </span>
                            <span v-if='theme == "light"'>
                                <i class="fas fa-toggle-on"></i>
                            </span>
                            Light
                        </div>
                        <div class="column is-pointer" @click="toggleStyle()">
                            <p class="menu-label">Image Style</p>
                            Simple
                            <span v-if='style == "simple"'>
                                <i class="fas fa-toggle-off"></i>
                            </span>
                            <span v-if='style == "realistic"'>
                                <i class="fas fa-toggle-on"></i>
                            </span>
                            Realistic
                        </div>
                        <div class="column is-pointer">
                            <p class="menu-label">Rotate</p>
                            <i class="fas fa-arrow-left" @click="rotateImages('left')"></i> <i class="fas fa-arrow-right" @click="rotateImages('right')"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="notification is-primary has-text-centered is-pointer" @click="selectRotation(PossibleRotations.NotSet)">
                RESET
            </div>

            <div class="rotation-content box settings-box">
                <div class="columns is-mobile">
                    <div class="column is-2 has-text-centered is-offset-1">
                        <div class="legend-circle range"></div>
                        <p class="menu-label is-marginless">Range</p>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <div class="legend-circle mage"></div>
                        <p class="menu-label is-marginless">Mage</p>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <div class="legend-circle melee"></div>
                        <p class="menu-label is-marginless">Melee</p>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <span class="is-block jad-circle-transition is-marginless" :style="'transform: rotate(' + degrees + 'deg);'">
                            <div class="legend-circle left range"></div><div class="legend-circle right mage"></div>
                        </span>
                        <p class="menu-label is-marginless">Range first Jad</p>
                    </div>
                    <div class="column is-2 has-text-centered">
                        <span class="is-block jad-circle-transition is-marginless" :style="'transform: rotate(' + degrees + 'deg);'">
                            <div class="legend-circle left mage"></div><div class="legend-circle right range"></div>
                        </span>
                        <p class="menu-label is-marginless">Mage first Jad</p>
                    </div>
                </div>

                <h2 class="title is-2">ACTIVE ROTATION</h1>
                
                <div class="columns is-mobile is-multiline" v-for="phaseGroup in phaseGroups">
                    <!-- VUE starts with 1 index.  Calculate group based on that. -->
                    <h5 class="column is-12 title is-5">PHASES {{phaseGroup[0]}}-{{phaseGroup[phaseGroup.length - 1]}}</h5>

                    <div class="column is-3" id="round-2" v-for="phase in phaseGroup">
                        <img :src="getImage(phase, rotation)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image" />
                    </div>
                </div>

                <hr />
                <h2 class="title is-2">OPTIONS</h1>
                
                <div class="columns is-mobile is-multiline rotations">
                    <div class="columns is-mobile is-multiline rotations">
                        <h5 class="column is-12 title is-5">PHASE 2 OPTIONS</h5>
                        <div :class="{'selected-rotation': meleePhase2}" class="column is-4" id="select-rotation-1" @click="selectRotation(PossibleRotations.MeleeStart)">
                            <img :src="getImage(2, PossibleRotations.MeleeStart)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image is-option" alt="Rotation 1 + 2 option" />
                        </div>
                        <div :class="{'selected-rotation': rotation == PossibleRotations.RangeStart}" class="column is-4" id="select-rotation-2" @click="selectRotation(PossibleRotations.RangeStart)">
                            <img :src="getImage(2, PossibleRotations.RangeStart)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image is-option" alt="Rotation 3 option" />
                        </div>
                        <div :class="{'selected-rotation': rotation == PossibleRotations.MageStart}" class="column is-4" id="select-rotation-3" @click="selectRotation(PossibleRotations.MageStart)">
                            <img :src="getImage(2, PossibleRotations.MageStart)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image is-option" alt="Rotation 4 option" />
                        </div>
                    </div>
                </div>

                <br/>

                <div class="columns is-mobile is-multiline rotations">
                    <div class="columns is-mobile is-multiline rotations">
                        <h5 class="column is-12 title is-5">PHASE 4 OPTIONS (If Melee Phase 2)</h5>
                        <div :class="{'selected-rotation': rotation == PossibleRotations.MeleeStartPhase4South}" class="column is-4" id="select-rotation-1-path-1" @click="selectRotation(PossibleRotations.MeleeStartPhase4South)">
                            <img :src="getImage(4, PossibleRotations.MeleeStartPhase4South)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image is-option" alt="" />
                        </div>
                        <div :class="{'selected-rotation': rotation == PossibleRotations.MeleeStartPhase4East}" class="column is-4" id="select-rotation-1-path-2" @click="selectRotation(PossibleRotations.MeleeStartPhase4East)">
                            <img :src="getImage(4, PossibleRotations.MeleeStartPhase4East)" :style="'transform: rotate(' + degrees + 'deg);'" class="phase-image is-option" alt="" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="notification is-primary has-text-centered is-pointer" @click="selectRotation(PossibleRotations.NotSet)">
                RESET
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>